/* 全局样式 */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* 在需要时添加其他全局样式 */

/* 本地字体定义 */
@font-face {
  font-family: 'ZCOOLKuaiLe';
  src: url('/fonts/zhankukuaile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZCOOLXiaoWei';
  src: url('/fonts/zhankuxiaowei.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SmileySans';
  src: url('/fonts/SmileySans-Oblique.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansSC';
  src: url('/fonts/SourceHanSansCN-Heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 字体类名 */
.font-zcool-kuaile {
  font-family: ZCOOLKuaiLe, cursive;
}

.font-zcool-xiaowei {
  font-family: ZCOOLXiaoWei, serif;
}

.font-smiley-sans {
  font-family: SmileySans, sans-serif;
}

.font-noto {
  font-family: NotoSansSC, sans-serif;
}

/* 调试用 */
.font-debug {
  border-bottom: 1px dashed #ccc;
}

/* 原始全局样式 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 